body, html {
	height: 100%;
}
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #fff;
}

ul {
	list-style: none;
}
body{
	background-size: cover;
    background-repeat: repeat-y;
}
body,
ul,
h2,
.container,
.container-small,
.banner {
    margin: 0;
    padding: 0;
}
.container {
	width: 100%;
}
.banner img:hover,
ul.contact li .contact-email:hover,
ul.social li a:hover,
ul.tourdate li .venue-wrapper a:hover {
	opacity: .7;
}
a,
ul li:hover,
ul.contact li .contact-email:hover,
button:hover,
.banner img:hover {
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.logo {
	display: block;
	width: 150px;
	height: 150px;
}
.contact-head:hover {
	cursor: pointer;
}
.contact-content {
	display: none;
}
.video-wrapper {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-wrapper img, .video-wrapper iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
ul.thumbnail {
	display: flex;
	flex-direction: row;
	color:#fff;
}
ul.thumbnail li {
	position: relative;
	padding: 10px;
	max-width: 240px;
	background:rgba(0,0,0,.15);
}
ul.thumbnail li:hover, ul.thumbnail li.selected {
	background:rgba(0,0,0,.35);
	cursor: pointer;
}
ul.thumbnail li span.title {
	display: none;
	position: absolute;
	top: 20px; left: 20px;
}
ul.thumbnail li span.play-icon {
	display: none;
	position: absolute;
	margin: auto;
	top: 0; right: 0; bottom: 0; left: 0;
	height: 48px;
	width: 48px;
	background:url(/img/play-icon.png);
}
ul.thumbnail li img {
	width: 100%;
	height: auto;
	display: block;
}
/* floats-start */
.container,
.container-small,
.banner,
.column-left,
.column-right,
ul.social,
ul.thumbnail,
ul.thumbnail li,
ul.contact,
ul.contact li .contact-title,
ul.contact li .contact-name,
ul.contact li .contact-email,
ul.tourdate li .date-wrapper,
ul.tourdate li .venue-wrapper,
ul.tourdate li .date-wrapper .date-large,
ul.tourdate li .date-wrapper .date-small {
	float: left;
}
.logo,
ul.tourdate li .btn-wrapper,
ul.tourdate li .btn-wrapper button {
	float: right;
}
ul.contact li .contact-title,
ul.tourdate li .date-wrapper .date-large,
ul.tourdate li .date-wrapper .date-small {
	clear: both;
}
.pull-right {
	float: right !important;
}
.container-body,
ul.contact li,
ul.tourdate li {
	overflow: hidden;
}
/* floats-end */
.page-wrapper {
	width: 90%;
	max-width: 960px;
}
.page-wrapper {
	margin: 0 auto;
}
.container-head,
.container-body {
	padding:8px 15px;
}
.container-body .column-right .lyrics-text {
	padding: 15px;
}
.container-head {
	background:rgba(0,0,0,.55);
}
.container-head i {
	margin: 0 15px 0 0;
}
.container-small {
	width: 49%;
}

a,
ul.tourdate li .btn-wrapper button,
.container-head,
.container-body {
	color: #fff;
}
.container-body {
	background:rgba(0,0,0,.25);
}
.container-body iframe, img.img-preview {
	width: 100%;
	height: 550px;
	display: block;
}
.container-small iframe {
	height: 300px;
}
.container-body .column-left {
	width: 35%;
}
.container-body .column-right {
	width: 65%;
}
.container-body .column-right .lyrics-text {
	letter-spacing: 3px;
	line-height: 17px;
	font-size: 11pt;
}
.container-body .column-right .lyrics-meta {
	font-size: 10pt;
	letter-spacing: 1pt;
	font-style: italic;
	opacity: .7;
}
/* tourdate-start */ 
.text-darker {
	color: #d0d0d0;
}
ul.tourdate li {
	padding: 5px 10px;
	min-height: 58px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
ul.tourdate li:last-child {
	border:none;
}
ul.tourdate li:hover {
	background: rgba(0,0,0,.1);
}
ul.tourdate li .date-wrapper {
	width: 20%;
}
ul.tourdate li .venue-wrapper {
	font-size: 11pt;
	width: 65%;
	margin: 17px 0 0 0;
}
ul.tourdate li .venue-wrapper span {
	width: 250px;
	display: block;
	float: left;
}
ul.tourdate li .btn-wrapper {
	margin: 4px 0 0 0;
	width: 15%;
}
ul.tourdate li .date-wrapper .date-large {
	padding: 15px 0 0 0;
	font-size: 13pt;
	font-weight: 700;
}
ul.tourdate li .date-wrapper .date-small {
	padding: 5px 0 0 0;
	font-size: 10pt;
	font-weight: 200;
}
ul.tourdate li .venue-wrapper a {
	font-size: 11pt;
	text-decoration: none;
}
ul.tourdate li .btn-wrapper button {
	padding: 15px;
	background: rgba(0,0,0,.2);
	border: 1px solid rgba(0,0,0,.2);
}
ul.tourdate li .btn-wrapper button:hover {
	cursor: pointer;
	background:pink;
}
ul.tourdate li .btn-wrapper button i {
	margin-right: 10px;
}
/* tourdate-end */
/* lyrics-start */
ul.lyrics-nav {
	padding-bottom: 1000px;
   	margin-bottom: -1000px;
   	background:rgba(0,0,0,.2);
}
ul.lyrics-nav li {
	border-bottom: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.1);
	padding: 10px 15px;
}
ul.lyrics-nav li:hover {
	cursor: pointer;
	background:rgba(0,0,0,.1);
}
ul.lyrics-nav li.active {
	background: pink;
	text-shadow:none;
	border-right: 1px solid #d49ea7;
}
ul.contact {
	width: 50%;
}
ul.contact li {
	padding: 15px 10px;
	min-height: 70px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
ul.contact li .contact-title {
	font-weight: bold;
	width: 100%;
}
ul.contact li .contact-name {
	
}
ul.contact li .contact-email {
	margin: 0 0 0 15px;
}
ul.contact li .contact-email,
ul.contact li .contact-name {
	font-size: 10pt;
}
/* lyrics-end */
.banner img {
	width: 100%;
	display: block;
	height: auto;
}
.center {
	text-align: center;
}
a.presave:focus {
	outline: none;
}
a.presave, a.presave:hover {
	display: block;
	padding: 0;
	width: 100%;
	min-height: 50px;
	border: 0;
	margin: 0 auto;
}
a.presave {
	background: url('../img/tove-save.png') no-repeat center;
	background-size: contain;
}
a.presave:hover {
	cursor: pointer;
	background: url('../img/tove-save-active.png') no-repeat center;
	background-size: contain;
}

.newsletter-button{
	padding: 15px;
    background: rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
	color: #fff;
	text-decoration: none;
	font-size: 24px;
}

.newsletter-button:hover {
	background: rgba(255,255,255,0.7);
}

ul.social {
	margin: 55px 0 0 0;
}
ul.social li {
	margin: 0 15px 0 0;
	display: inline-block;
}
ul.social li:last-child {
	margin: 0;
}
ul.social iframe {
	width: 150px;
}
/* social-end */

/* globals-start */
.m-top {
	margin: 15px 0 0 0;
}
.m-bottom {
	margin: 0 0 15px 0;
}
.m-top-m-bottom {
	margin: 15px 0 15px 0;
}
.no-padding {
	padding: 0 !important;
}
.clearfix {
	clear: both;
	display: none;
}
/* globals-end */

/* RESPONSIVITY */

	/* fixes-start */
	@media only screen and (max-width: 837px) {
		ul.contact {
			width: 100%;
		}
		.clearfix {
			display: block;
		}
	}
	/* fixes-end */

/*Extra small*/
@media only screen and (max-width: 359px) {
	ul.social {
		margin: 0;
		float: none;
	}
	ul.social li {
		margin: 15px 5px;
	}
	.logo {
		width: 100px;
		height: 100px;
		float: none;
		margin: 0 auto;
	}
	header {
		text-align: center;
	}
	ul.contact .contact-name,
	ul.contact .contact-email {
		clear: both;
		width: 100%;
	}
	.container-small {
		width: 100%;
	}
	.container-body iframe {
		height: 350px;
	}
	ul.tourdate li .date-wrapper {
		width: 70%;
		font-size: 11pt;
	}
	ul.tourdate li .venue-wrapper {
		width: 65%;
		margin: 0;
	}
	ul.tourdate li .venue-wrapper a {
		font-size: 10pt;
	}
	ul.tourdate li .btn-wrapper {
		width: 35%;
		margin: 0;
	}
	ul.tourdate li .btn-wrapper button i {
		margin: 0;
	}
	ul.contact li .contact-name,
	ul.contact li .contact-email {
		clear: both;
	}
	ul.contact li .contact-email {
		margin: 0;
	}
	.hidden-xs {
		display: none;
	}
	.container-body .column-right,
	.container-body .column-left {
		width: 100%;
	}
	ul.lyrics-nav {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	ul.lyrics-nav li {
		padding: 3px 5px;
	}
	ul.thumbnail {
		display: none;
	}
}
/*Small*/
@media only screen and (min-width:360px ) and (max-width: 767px) {
	body {
		background-size: cover;
	}
	header {
		text-align: center;
	}
	.hidden-sm {
		display: none;
	}
	.clearfix {
		display: block;
	}
	.logo {
		width: 100px;
		height: 100px;
		float: none;
		margin: 0 auto;
	}
	ul.social {
		margin: 0;
		float: none;
	}
	ul.social li {
		margin: 15px 5px;
	}
	.container-body iframe {
		height: 290px;
	}
	ul.tourdate li .date-wrapper {
		width: 70%;
	}
	ul.tourdate li .venue-wrapper {
		font-size: 10pt;
		width: 65%;
		margin: 0;
	}
	ul.tourdate li .venue-wrapper a {
		font-size: 10pt;
	}
	ul.tourdate li .venue-wrapper span {
		float: left;
		width: 150px;
	}
	ul.tourdate li .btn-wrapper {
		width: 35%;
		margin: 0;
	}
	ul.tourdate li .btn-wrapper button {
		padding: 7px 3px;
	}
	ul.contact li .contact-name,
	ul.contact li .contact-email {
		clear: both;
	}
	ul.contact li .contact-email {
		margin: 0;
	}
	.container-body .column-right,
	.container-body .column-left,
	.container-small,
	ul.contact {
		width: 100%;
	}
	ul.contact li {
		min-height: auto;
	}
	ul.lyrics-nav {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	ul.lyrics-nav li {
		padding: 3px 5px;
	}
	ul.thumbnail {
		display: none;
	}
	.container-head {
		font-size: 12px;
	}
	ul li {
		font-size: 12px;
	}
}